
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
    font-size: 32px;
    color: red;
}
  ========================================== */

/* GENERAL RULES */
:root {
    --prim: #444b4c;
    --sec:  rgb(236, 236, 236);
    --tert: #14bfcc;
    --subtitleFont: 'Open Sans', sans-serif;
    --navbarFont: 'IBM Plex Sans Arabic', sans-serif;
    --subtitleFont: 'Roboto Condensed', sans-serif;
}

/* CLOSE GENERAL RULES */

/* HEADER */
.header {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.top-header {
    background-color: rgb(236, 236, 236);
    border-top: 5px solid #46b6c4;
}
.top-nav-link {
    color: var(--prim);
}
.top-nav-link:hover {
    color: var(--tert);
    transition: 1.5s ease;
}
.top-nav, .top-nav-login {
    padding-top: 5px;
}
.funky-buttons {
    padding-top: 20px;
}
.main-sub-header {
    /* border: 1px solid green; */
    padding-top: 20px;
}

.main-nav-bar-item {
    text-transform: uppercase;
    font-family: var(--navbarFont);
    font-size: 20px;
    font-weight: bolder;
}
.main-nav-bar-item:hover {
    color: var(--tert);
    transition: 1s ease;
}
/* CLOSE HEADER */

/* MAIN */
.carousel-content {
    background-color: var(--sec);
}
.subtitle {
    border-left: 4px solid var(--tert);
    padding-left: 5px;
    text-transform: capitalize;
    font-family: var(--subtitleFont);
    font-size: 35px;
    font-weight: bolder;
}
.welcome-banner {
    padding-top: 30px;
    padding-bottom: 30px;
}
.banner-content {
    padding-top: 50px;
    padding-bottom: 50px;
}
.card-button {
    background-color: var(--prim);
    border-radius: 3px;
}
.card-button-link {
    color: var(--sec);
    text-transform: uppercase;
}
.card-button:hover {
    background-color: var(--tert);
}
.card-button-link:hover {
    text-decoration: none;
    color: var(--sec);
}
.brand-banner {
    padding-bottom: 30px;
    padding-top: 20px;
}
/* CLOSE MAIN */

/* FOOTER */
.sign-up-section {
    background-color: var(--sec);
    height: 90px;
}
.random-text {
    color: var(--prim);
    padding-top: 10px;
    font-family: var(--subtitleFont);
    /* font-size: 35px; */
    font-size: calc(12px + 12 * ((100vw - 320px) / 680));
    text-transform: uppercase;
}
.sign-up-box {
    padding-top: 25px;
}
.listed-info-item {
    list-style-type: square;
}
.listed-info-link {
    color: var(--sec);
}

.bottom-section {
    background-color: var(--prim);
    border-bottom: 1px solid rgb(90, 90, 90);
}
.bottom-section .sub-header {
    text-transform: uppercase;
    color: var(--sec);
}

.footer-social-item {
    /* border: 1px solid salmon; */
    background-color: rgb(97, 97, 97);
    border-radius: 3px;
}
.footer-nav-link {
    color: white;
}
.footer-nav-link:hover, .listed-info-link:hover {
    transition: 1.5s ease;
    color: var(--tert);
}
#footer-icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    padding: 6px;
}
.colophon-section {
    background-color: var(--prim);
    border-top: 1px solid rgb(46, 46, 46);
}
/* CLOSE FOOTER */